body {
  font-family: Georgia;
}
#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
form {
  display: flex;
  flex-direction: column;
}
.delete {
  margin-left: 0.5rem;
}
.unregister {
  margin-left: 0.5rem;
}
.error {
  color: red;
}

#account {
  margin: 1.5em;
  margin-top: 0.5em;
